# TEMPLATE FILE - Hướng dẫn thiết lập Inventory
# Copy file này thành inventory.ini và thay đổi IP tương ứng

[build]
build-runner ansible_host=192.168.157.120 ansible_user=macld

[staging_k8s]
k8s-staging ansible_host=192.168.157.110 ansible_user=macld

[production]
# k8s-prod-1 ansible_host=xxx.xxx.xxx.xxx ansible_user=macld

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
