apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ project_name }}-backend"
  namespace: "{{ k8s_namespace }}"
spec:
  replicas: {{ backend_replicas | default(1) }}
  selector:
    matchLabels:
      app: "{{ project_name }}-backend"
  template:
    metadata:
      labels:
        app: "{{ project_name }}-backend"
    spec:
      securityContext:
        runAsUser: 1001
        fsGroup: 1001
      containers:
      - name: backend
        securityContext:
          runAsUser: 1001
        image: "{{ backend_image_tag | default('luudinhmac/portfolio-backend:latest') }}"
        livenessProbe:
          httpGet:
            path: /api/v1/health
            port: {{ backend_port }}
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/v1/health
            port: {{ backend_port }}
          initialDelaySeconds: 15
          periodSeconds: 5
        env:
        - name: TZ
          value: "Asia/Ho_Chi_Minh"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: "{{ project_name }}-secrets"
              key: DATABASE_URL
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: "{{ project_name }}-secrets"
              key: JWT_SECRET
        - name: PORT
          value: "{{ backend_port }}"
        ports:
        - containerPort: {{ backend_port }}
        volumeMounts:
        - name: uploads-storage
          mountPath: /app/uploads
      volumes:
      - name: uploads-storage
        persistentVolumeClaim:
          claimName: "{{ project_name }}-backend-pvc"
