apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ project_name }}-frontend"
  namespace: "{{ k8s_namespace }}"
spec:
  replicas: {{ frontend_replicas | default(1) }}
  selector:
    matchLabels:
      app: "{{ project_name }}-frontend"
  template:
    metadata:
      labels:
        app: "{{ project_name }}-frontend"
    spec:
      containers:
      - name: frontend
        image: "{{ frontend_image_tag | default('luudinhmac/portfolio-frontend:latest') }}"
        ports:
        - containerPort: {{ frontend_port }}
        env:
        - name: TZ
          value: "Asia/Ho_Chi_Minh"
        - name: INTERNAL_API_URL
          value: "http://{{ project_name }}-backend:{{ backend_port }}"
