apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ project_name }}-ingress"
  namespace: "{{ k8s_namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.middlewares: "{{ k8s_namespace }}-{{ project_name }}-strip-prefix@kubernetescrd"
spec:
  rules:
  - host: staging.local # You might want to parameterize this too
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: "{{ project_name }}-backend"
            port:
              number: {{ backend_port }}
      - path: /uploads
        pathType: Prefix
        backend:
          service:
            name: "{{ project_name }}-backend"
            port:
              number: {{ backend_port }}
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "{{ project_name }}-frontend"
            port:
              number: {{ frontend_port }}
